.fsm {
	height: 150px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #f5f5f5;
	font-size: 1.5rem;
	border-radius: 0;
	transition: 1s;
	cursor: pointer;
	background-size: cover;
	background-position: right;
}

.fsm.full-screen {
	z-index: 100;
	border-radius: 0;
	background-size: contain;
	background-repeat: no-repeat;
}


.fsm-container {
	display: flex;
	margin: 0 auto;
	width: 250px;
	justify-content: center;
	box-sizing: border-box;
}
.fsm.f1 { background - image: url("./0202181502.jpg"); }
.fsm.f1 { background-image: url("./0202181502.jpg"); }
.fsm.f1 { background-image: url("/0202181502.jpg"); }
